@import "tailwindcss";


@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #202020;
  --main-green: #678238;
  --sub-green: #0B4307;
  --font-pretendard: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-school: "SchoolSafetyRoundedSmile", sans-serif;
}

.dark {
  --background: #0B4307; 
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main-green: var(--main-green);
  --color-sub-green: var(--sub-green);
  --font-pretendard: var(--font-pretendard);
  --font-school: var(--font-school);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
  transition: background-color 0.3s, color 0.3s;
}